<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>DataPulse Django Demo</title>
  <link rel="stylesheet" href="static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<h1>System<span style="color:white;">.<span style="color:#e06c75;">out</span>.</span><span style="color:#61afef;">println</span>("</h1>
<div class="string">
    <h1 class="greeting it">नमस्ते World</h1>
    <h1 class="greeting en">Hello World!</h1>
    <h1 class="greeting es">¡Hola Mundo!</h1>
    <h1 class="greeting de">Hallo Welt!</h1>
</div>
<h1 class="closure">");</h1>
<!-- partial -->

</body>
</html>
